img{
    border-radius: 50%;
}
.personsWrapper{
    max-width: 1280px;
}

.personsButtons{
    position: fixed;
}

.personsCards{
    display: flex;
    flex-wrap: wrap;
}

.personsCards .personCard{
    margin: 1% auto;
    min-width: 30%;
    height: 300px;
    width: 250px;
    padding: 20px 0 20px 0;
}

.personCard h2{
    text-transform: capitalize;
}